$columns : 12;
$gap : 10px;
$bp : 720px;
.container {
  margin-left: $gap;
  margin-right: $gap;
  .row {
    margin-left: -$gap;
    margin-right: -$gap;

    [class^="col-"] {
      box-sizing: border-box;
      padding-left: $gap;
      padding-right: $gap;
      padding-bottom: 2*$gap;
    }

    @media (min-width: #{$bp}) {
      display: flex;

      @for $i from 1 through $columns {
        .col-#{$i}-#{$columns} {
          width: (100/ $columns * $i) * 1%;
        }
      }
    }
  }
}
